<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chatbook</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/svg" href="images/books.svg">
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.esm-browser.js",
                    "@graffiti-garden/implementation-local": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-local@0.6.4/dist/browser/index.js",
                    "@graffiti-garden/implementation-remote": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-remote@0.6.2/dist/browser/index.js",
                    "@graffiti-garden/wrapper-vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-vue@0.7.2/dist/browser/plugin.mjs"
                }
            }
        </script>
    </head>
    <body>
        <div id="app">
            <header>
                <div class="left">
                    <img src="images/books.svg">
                    <h1>Chatbook</h1>
                </div>
                <div class="right">
                    <template v-if="!$graffitiSession.value">
                        <button @click="$graffiti.login()">Login</button>
                    </template>
                    <template v-else>
                        <p>Hi, {{ $graffitiSession.value.actor }} </p>
                        <button @click="$graffiti.logout($graffitiSession.value)">Logout</button>
                    </template>
                </div>
            </header>
            <main v-if="!$graffitiSession.value">
                Welcome
            </main>
            <main v-else>
                <div class="main-layout">
                    <div class="sidebar-left">

                    </div>
                    <div class="feed">
                        <div class="message">
                            <div class="message-header">
                                <span class="handle" @click="showMyProfile=true">@User</span>
                            </div>
                            <div class="message-content">
                                Yadda Yadda Yadda
                            </div>
                        </div>
                        <div class="message">
                            <div class="message-header">
                                <span class="handle">@User</span>
                            </div>
                            <div class="message-content">
                                Yadda Yadda Yadda
                            </div>
                        </div>
                        <graffiti-discover
                        v-slot="{ objects: messageObjects }"
                        :channels="channels"
                        :schema="{
                            properties: {
                                value: {
                                    required: ['content', 'published'],
                                    properties: {
                                        content: { type: 'string' },
                                        published: { type: 'number' },
                                    }
                                }
                            }
                        }"
                        >
                        <div v-for="object of messageObjects" class="message">
                            <div class="message-header">
                                <span class="handle">@{{object.actor}}</span>
                            </div>
                            <div class="message-content">
                               {{ object.value.content }}
                            </div>
                        </div>
                        </graffiti-discover>
                    </div>
                    <div class="sidebar-right">
                        <button @click="showMessagePopUp=true">Post</button>
                    </div>
                </div>
                <div class="overlay" v-if="showMessagePopUp">
                    <div class="profile-popup">
                        <div class="profile-popup-header">
                            <button @click="showMessagePopUp=false">Close</button>
                            <h2>Compose Message</h2>
                            <button @click="sendMessage($graffitiSession.value)">Send</button>
                        </div>
                        <div class="profile-popup-body">
                            <div class="profile-input">
                                <textarea id="message" maxlength="250" v-model="myMessage"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                    </div>
                </div>
                <profile :show-my-profile="showMyProfile" @close="showMyProfile = false"></profile>
            </main>
        </div>
        <script src="index.js" type="module"></script>
    </body>
</html>
